#root{
    -fx-background-color: linear-gradient(to top, #b51c8d, #c647a2, #d668b7, #e686cb, #f6a4e0);
}

.image-view {
	-fx-image: url('avatar1.png');
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        linear-gradient(to right, #b51c8d, #a71a82, #9a1777, #8d156c, #801362); 
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}



